<div class="dashboard-chart-container">

    <div *ngIf="!chartData || chartData.length === 0" class="no-data">
        <mat-icon>pie_chart</mat-icon>
        <p>No carnet data available</p>
    </div>

    <div class="charts-grid">
        <div *ngFor="let config of chartConfigs; let i = index" class="chart-card">
            <div class="chart-header">
                <h4 class="chart-title">{{ config.title }}</h4>
                <button mat-icon-button class="edit-icon" (click)="navigateToManageProvider(config.spid)"
                    matTooltip="Edit Service Provider">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div class="chart-wrapper">
                <canvas baseChart [data]="config.data" [options]="config.options" [type]="chartType"
                    (chartClick)="chartClicked($event, i)" [plugins]="chartPlugins">
                </canvas>
            </div>
        </div>
    </div>
</div>