<div class="continuation-sheet-container">
    <div class="actions-bar">
        <button mat-raised-button color="primary" (click)="addNewContinuationSheet()">
            <mat-icon>add</mat-icon> Add New Continuation Sheet
        </button>
    </div>

    <div class="table-container mat-elevation-z8">
        <div class="loading-shade" *ngIf="isLoading">
            <mat-spinner diameter="50"></mat-spinner>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>
            <!-- Customer Type Column -->
            <ng-container matColumnDef="customerType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Type</th>
                <td mat-cell *matCellDef="let item">
                    {{ getOptionLabel(customerTypes, item.customerType) }}
                </td>
            </ng-container>

            <!-- Carnet Type Column -->
            <ng-container matColumnDef="carnetType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Carnet Type</th>
                <td mat-cell *matCellDef="let item">
                    {{ getOptionLabel(carnetTypes, item.carnetType) }}
                </td>
            </ng-container>

            <!-- Rate Column -->
            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
                <td mat-cell *matCellDef="let item">{{ item.rate | currency }}</td>
            </ng-container>

            <!-- Effective Date Column -->
            <ng-container matColumnDef="effectiveDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Effective Date</th>
                <td mat-cell *matCellDef="let item">
                    {{ item.effectiveDate | date:'mediumDate':'UTC' }}
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let item">
                    <button mat-icon-button color="primary" (click)="editContinuationSheet(item)" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <!-- <button mat-icon-button color="warn" (click)="deleteContinuationSheet(item.id)" matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button> -->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr matNoDataRow *matNoDataRow>
                <td [colSpan]="displayedColumns.length" class="no-data-message">
                    <mat-icon>info</mat-icon>
                    <span>No continuation sheet setups available</span>
                </td>
            </tr>
        </table>

        <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[userPreferences.pageSize!]"
            [hidePageSize]="true" showFirstLastButtons></mat-paginator>
    </div>

    <!-- Continuation Sheet Form -->
    <div class="form-container" *ngIf="showForm">
        <form [formGroup]="continuationSheetForm" (ngSubmit)="saveContinuationSheet()">
            <div class="form-header">
                <h3>{{ isEditing ? 'Edit Continuation Sheet' : 'Add New Continuation Sheet' }}</h3>
            </div>

            <div class="form-row">
                <mat-label>Customer Type</mat-label>
                <mat-radio-group formControlName="customerType" required class="horizontal-group">
                    <mat-radio-button *ngFor="let type of customerTypes" [value]="type.value" class="radio-button">
                        {{ type.label }}
                    </mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="continuationSheetForm.get('customerType')?.errors?.['required']">
                    Customer type is required
                </mat-error>
            </div>

            <div class="form-row">
                <mat-label>Carnet Type</mat-label>
                <mat-radio-group formControlName="carnetType" required class="horizontal-group">
                    <mat-radio-button *ngFor="let type of carnetTypes" [value]="type.value">
                        {{ type.label }}
                    </mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="continuationSheetForm.get('carnetType')?.errors?.['required']" class="radio-button">
                    Carnet type is required
                </mat-error>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label>Rate</mat-label>
                    <input matInput formControlName="rate" type="number" step="1" required>
                    <span class="dollar-prefix" matPrefix>$&nbsp;</span>
                    <mat-error *ngIf="continuationSheetForm.get('rate')?.errors?.['required']">
                        Rate is required
                    </mat-error>
                    <mat-error *ngIf="continuationSheetForm.get('rate')?.errors?.['pattern']">
                        Must be a valid dollar amount
                    </mat-error>
                    <mat-error *ngIf="continuationSheetForm.get('rate')?.errors?.['min']">
                        Must be 0 or greater
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Effective Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="effectiveDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="continuationSheetForm.get('effectiveDate')?.errors?.['required']">
                        Effective date is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div *ngIf="isEditing" class="readonly-section">
                <div class="readonly-fields">
                    <div class="field-column">
                        <!-- Last Changed By -->
                        <div class="readonly-field">
                            <label>Last Changed By</label>
                            <div class="readonly-value">
                                {{readOnlyFields.lastChangedBy || 'N/A'}}
                            </div>
                        </div>
                    </div>
                    <div class="field-column">
                        <!-- Last Changed Date -->
                        <div class="readonly-field">
                            <label>Last Changed Date</label>
                            <div class="readonly-value">
                                {{(readOnlyFields.lastChangedDate | date:'mediumDate':'UTC') || 'N/A'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button mat-button type="button" (click)="cancelEdit()">Cancel</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="continuationSheetForm.invalid">
                    {{ isEditing ? 'Update' : 'Save' }}
                </button>
            </div>
        </form>
    </div>
</div>